[submodule "c/external/cJSON"]
	path = c/external/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "c/extern/libwebsockets"]
	path = c/extern/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "c/rpi_ws281x"]
	path = c/rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x.git
