@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


:root {
  --bg-primary: #121212;
  --bg-secondary: #1E1E1E;
  --surface: #2C2C2C;
  --text-primary: #FFFFFF;
  --text-secondary: #B0B0B0;
  --accent: #4FC3F7;
  --error: #FF5252;
  --success: #4CAF50;
  --warning: #FFC107;
  --disabled: #3A3A3A;
  --divider: #2F2F2F;
}

* {
  font-family: 'Roboto flex', sans-serif;
  cursor: default;
  color: var(--text-primary);
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
  background-color: var(--bg-primary);
}

button {
  padding: none;
  border: none;
}

i {
  cursor: pointer;
}

.grayed-out {
  background-color: var(--disabled);
}

.stop-option {
  background-color: rgb(255, 169, 169) !important;
  border-color: rgb(255, 105, 105) !important;
}

h1 {
  font-size: 100px;
  font-weight: 600;
}

h3 {
  font-size: 60px;
}

h4 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

label {
  font-size: 45px;
}

.message-container {
  padding: 10px;
  width: fit-content;
  height: fit-content;
  position: fixed;
  top: 2em;
  left: 50%;
  margin-top: -1em;
  transform: translate(-50%, 0);
  z-index: 100;
  margin: auto;
  justify-content: center;
  background-color: var(--bg-secondary);
  border: 2px solid var(--surface);
  border-radius: 10px;
  transition: all 1s ease-in
}

/***** Color picker *****/

.IroWheel, .IroSlider {
  margin: auto;
}

.color-picker {
  display: inline-block;
  vertical-align: middle;
  width:fit-content;
  margin: auto;
}

.color-input-error-label {
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}

.fa-triangle-exclamation {
  color: var(--warning);
  align-self: center;
  margin: 0 .5em;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 0;
  padding: .25em;
}

#capture_button {
  margin: .5em 1em;
  width: fit-content;
  height: fit-content;
  padding: .25em;
  transition: background-color .2s, border-color .2s;
}

#capture_button:active {
  transform: scale(.95)
}

.color {
  height: 75px;
  width: 75px;
  cursor: pointer;

  border: 4px solid var(--surface);
  border-radius: 50%;

  display: inline-block; 
  align-self: center;

  transition: width .25s, height .25s;
  transition-timing-function: ease-in;

  font-size: 30px;
  text-align: center;
  vertical-align: baseline;
}

.color:hover {
  height: 80px;
  width: 80px;
  border-color: var(--divider);
}


.selected {
  height: 32px;
  width: 32px;
  border: 2px solid var(--accent);
}

.space-top {
  margin-right: 10px;
}

#color-code-input {
  width: 160px; 
  height: 60px; 
  font-size: 40px;
  margin-top: 1em;
  text-align: center;
  vertical-align: middle;
}
#set-color-button {
  width: fit-content;
  height: 85px; 
  font-size: 40px;
  font-weight: 500;
  padding: 5px 15px;
  border: 4px solid transparent;
  border-radius: 10px;
  margin-left:1em;
  margin-top: 1em;
  background-color: var(--surface);
  box-shadow: 2px 4px 10px var(--disabled);
}

.color-easy-container {
  display: flex;
  gap: 5px;
  width: 600px;
  height: fit-content;
  flex-wrap: wrap;
  align-content: start;
  justify-content: center;
  margin: 8px auto;
}

/***** Add color menu *****/
#add-color-menu {
  width: fit-content;
  margin: auto;
}

/***** Modal style *****/
.modal-container {
  position: absolute;
  top: 5%;
  left: 50%;
  margin: 0 auto;
  padding: .5em;

  background-color: #bebebe;
  border: 3px solid #919191;
  border-radius: 10px;

  height: fit-content;
  width: fit-content;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: .5em;

  opacity: 1;
  transition: opacity 1s ease-out; 
}

.modal-message {
  font-size: 16pt;
  height: fit-content;
  width: fit-content;
  max-height: 3em;
  overflow-y: auto
}

.error-text {
  font-size: 14pt;
}

input {
  width: fit-content;
  padding: .25em;
  border: 2px solid var(--disabled);
  background-color: var(--surface);
  border-radius: 2px;
}

/*** LED Settings ***/
.led-settings {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.led-settings > * {
  width: fit-content;
  margin: 5px auto;
}

.save-button {
  width: 130px;
  height: 80px;
  font-size: 45px;
  font-weight: 500;
  padding: 5px 15px;
  background-color: var(--accent);
  border-radius: 20px;
  margin: auto;
}

#brightness-input {
  -webkit-appearance: none;
  width: 400px;
  height: 25px;
  border-radius: 20px;  
  background: var(--surface);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#brightness-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  border: 4px solid var(--accent);
  background: var(--disabled);
  cursor: pointer;
}

#brightness-input::-moz-range-thumb {
  /* Firefox */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--disabled);
  border: 4px solid var(--accent);
  cursor: pointer;
}

#count-input {
  font-size: 40px;
  width: 100px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

/*** Screen Capture settings ***/
.screen-capt-settings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.screen-capt-settings h1 {
  text-align: center;
}

.screen-capt-settings > * {
  width:fit-content;
  margin: 15px auto;
}

#capture_button {
  margin: auto;
  padding: 15px;
  font-size: 40px;
  text-align: center;
  background-color: var(--surface);
  border: 4px solid var(--surface);
  border-radius: 15px;
}

.offsets {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.offsets > *{ 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.offsets-input {
  margin-left: 15px;
  width: 75px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
}

input[type="checkbox"] {
  height: 40px;
  width: 40px;
}

.led-counts {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  gap: 20px;
}

.led-count-input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="number"] {
  font-size: 40px;
  width: 75px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

/*** Custom Resolution settings ***/
.resolution-settings {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  gap: 30px;
}

.custom-resolution {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: fit-content;
  margin: auto;
  margin-top: -10px;
  gap: 20px;
}

.custom-resolution input {
  font-size: 40px;
  width: 100px;
  height: 50px;
}

#resolution-dropdown {
  width: fit-content;
  font-size: 40px;
  padding: 10px;
  margin: auto;
}

/*** Sound effect ***/
.selected-effect {
  border: 2px solid #ccc !important;
}

#sound-effect-select {
  font-size: 40px;
}